---
const {
  numColumns,
  gap,
  alignItems,
  variant = "",
  flexible = false,
  class: className = ""
} = Astro.props;
---

<div
  class={`grid ${variant} ${className}`}
  style={`
    --num-columns: ${numColumns};
    --gap: ${gap};
    --align-items: ${alignItems};
    --column-type: ${flexible ? 'auto' : '1fr'}
  `}
>
  <slot />
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), var(--column-type));
    gap: var(--gap);
    align-items: var(--align-items);
  }

  @media (max-width: 700px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>