---
const {
  text,
  variant,
  href,
  type
} = Astro.props;
---

{href ? (
    <a href={href} class={`button ${variant}`}>
      <span>{text}</span>
    </a>
) : (
  <button type={type ?? "button"} class={`button ${variant}`}>
    <span>{text}</span>
  </button>
)}

<style>
.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1.1rem;
  border: none;
}

.button span {
  position: relative;
  font-family: "Gill Sans", sans-serif;
}


/* hero variant styles */
.hero {
  color: var(--parchment);  /*  hero component text color  */
  background-color: var(--maroon);
}

.hero:hover {
  background-color: var(--bright-maroon);
}

.hero span {
  top: 0.1em;
  font-size: 1rem;
}


/* footer variant styles */
.footer {
  margin-top: 0;
  margin-inline: 0;
  background-color: var(--muted-maroon);
  color: rgb(194, 199, 208);  /*  pico text color  */
  /* opacity: .98; */
}

.footer:hover {
  background-color: var(--footer-maroon-hover);
}

.footer span {
  top: 0.15em;
  font-size: .9rem;
  letter-spacing: .125em;
}


/* contact variant styles */
.contact.button {
  width: fit-content;
}

.contact {
  background: var(--maroon);
  color: var(--parchment);
  /* border: 1px solid var(--maroon); */
  margin-inline: auto;
}

.contact:hover {
  background: var(--bright-maroon);
}

.contact span {
  top: 0.15em;
  font-size: .9rem;
  letter-spacing: .125em;
}
</style>