---
const {
  variant = 'default',
  text,
  href,
  type
} = Astro.props;
---

{href ? (
  <a href={href} class={`button ${variant}`}>
    <span>{text}</span>
  </a>
) : (
  <button type={type ?? "button"} class={`button ${variant}`}>
    <span>{text}</span>
  </button>
)}

<style>
.button {
  display: inline-block;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 0 0 1.1rem;
  border: none;
  border-radius: .25rem;

  color: var(--parchment);
  background-color: var(--warm-muted-maroon);
}

.button:hover {
  transition:
    background-color 180ms ease,
    box-shadow 180ms ease;
  
  background-color: var(--warm-muted-maroon-hover);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.18);
}

.button span {
  position: relative;
  top: 0.15em;
  font-family: "Gill Sans", sans-serif;
  font-size: .9rem;
  letter-spacing: .125em;
}

a.button {
  text-decoration: none;
}


/* --------------- Hero variant --------------- */
.hero.button {
  background-color: var(--maroon);
  box-shadow: 0 3px 12px rgb(0 0 0 / 0.25);
  
}

.hero.button:hover {
  background-color: var(--maroon-hover);
  box-shadow: 0 3px 14px rgb(0 0 0 / 0.3);
}

.hero.button span {
  top: 0.1em;
  font-size: 1rem;
  letter-spacing: .01rem;
}


/* --------------- Footer variant --------------- */
.footer.button {
  background-color: var(--muted-maroon);
  color: var(--slate-text-bright);
  /* opacity: .98; */
}

.footer.button:hover {
  background-color: var(--footer-maroon-hover);
}
</style>