---
const {
  text,
  variant,
  href,
  type
} = Astro.props;
---

{href ? (
  <a href={href} class={`button ${variant}`}>
    <span>{text}</span>
  </a>
) : (
  <button type={type ?? "button"} class={`button ${variant}`}>
    <span>{text}</span>
  </button>
)}

<style>
.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1.1rem;
  border: none;
}

.button span {
  position: relative;
  font-family: "Gill Sans", sans-serif;
}

a.button {
  text-decoration: none;
}


/* --------------- Hero variant --------------- */
.hero {
  color: var(--parchment);
  background-color: var(--maroon);
}

.hero:hover {
  background-color: var(--bright-maroon);
}

.hero span {
  top: 0.1em;
  font-size: 1rem;
}


/* --------------- About variant --------------- */
.about.button {
  margin-top: 0;
  margin-inline: 0;
  color: var(--parchment);
  background-color: var(--light-gold);
}

.about.button:hover {
  background-color: var(--light-gold-hover);
}

.about.button span {
  top: 0.15em;
  font-size: .9rem;
  letter-spacing: .125em;
}


/* --------------- Footer variant --------------- */
.footer.button {
  margin-top: 0;
  margin-inline: 0;
  background-color: var(--muted-maroon);
  color: rgb(194, 199, 208);  /*  pico text color  */
  /* opacity: .98; */
}

.footer.button:hover {
  background-color: var(--footer-maroon-hover);
}

.footer.button span {
  top: 0.15em;
  font-size: .9rem;
  letter-spacing: .125em;
}


/* --------------- Contact variant --------------- */
.contact.button {
  margin-inline: auto;
  margin-bottom: 0;
  width: fit-content;
  background: var(--maroon);
  color: var(--parchment);
  
}

.contact.button:hover {
  background: var(--bright-maroon);
}

.contact.button span {
  top: 0.1em;
  font-size: .9rem;
  letter-spacing: .125em;
}
</style>