---
import Button from './Button.astro';

const {
  text,
  buttonText,
  variant,
  href = "/#contact",
} = Astro.props;
---

<div class={`cta ${variant}`}>
  <p>{text}</p>
  <Button 
    href={href} 
    text={buttonText} 
    variant={variant}
  />
</div>

<style>
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* --------------- Hero variant --------------- */
.cta.hero {
  position: absolute;
  left: 50%;
  bottom: 30vh;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 3;
}

.cta.hero p {
  font-style: italic;
  color: var(--parchment);
  text-wrap: balance;
}


/* --------------- About variant --------------- */
.cta.about {

}

.cta.about p {
  font-style: italic;
  color: var(--brown-ink);
}



/* --------------- Footer variant --------------- */
.cta.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta.footer p {
  color: var(--footer-text-bright)
}

@media (max-width: 700px) {
  .cta.footer {
    grid-column: 1 / -1;
    margin-top: var(--section-spacing-sm);
  }
}
</style>